<a href="https://colab.research.google.com/github/Ravindrakumarnayak/python_practice_daywise/blob/main/python_day6_practice_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# loops, while

In [3]:
i=0 # initialize
while(i<10): # condition
  print("abc")  # print
  i=i+1 # increament i++ is in java here won't work

abc
abc
abc
abc
abc
abc
abc
abc
abc
abc

In [1]:
for i in range(10):
  print("abc")

abc
abc
abc
abc
abc
abc
abc
abc
abc
abc

In [5]:
i=0
while(i<51):
  print(i)
  i=i+5

0
5
10
15
20
25
30
35
40
45
50

In [7]:
# even number
i=0
while(i<51):
  print(i)
  i=i+2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [9]:
num=1
while num!=0:
  num=int(input("enter the number"))
  print("number is not zero")

enter the number4
number is not zero
enter the number3
number is not zero
enter the number0
number is not zero

In [20]:
for i in range(10): #break
   if i==4:

      break
   print(i)

0
1
2
3

In [21]:
for i in range(10):  #continue
   if i==4:

      continue
   print(i)

0
1
2
3
5
6
7
8
9

In [55]:
for i in "The", "core", "python", "class", "is", "amazing":  #continue
    if i == "core":

      continue
    print(i)

The
python
class
is
amazing

In [47]:
for i in ["The core python class is amazing"]:  #break
   if (i == "core"):

      break
   print(i)

The core python class is amazing

In [35]:
# write a program to COUNT THE ALPHABET


essay= input("enter the essay")

x=len(essay)
print(x)

enter the essaysdsdvsdhjvbsdhvsdgjvsducbcakjdcbadcbakcbcasc bxhkcbas chjascbdcda sashdbdashdbasibuifhequidnasusidhqdq389j
106

In [44]:
for i in 'string':
  if i=='t':
    break
  print(i)

s

In [45]:
for i in 'string':
  if i=='t':
    continue
  print(i)

s
r
i
n
g

In [60]:
# to check the word count using split function


essay=input()
words=len(essay.split())
print("the essay count is:", words)

dfafafasfasdadaf af sdf sda fasd f af a fa ddf da fasd fs df asddf sddf sdf
the essay count is: 17

In [64]:
txt= "hello,my name is robin, i am working in concentrix"
a=txt.split( ",")
print(a)

['hello', 'my name is robin', ' i am working in concentrix']

In [66]:
for letter in "python":
  if i=='h':
    pass
  print( letter)

p
y
t
h
o
n

In [69]:
a=23
b=45
if a>b:
  pass
print("b<a")

b<a