<a href="https://colab.research.google.com/github/Ravindrakumarnayak/python_practice_daywise/blob/main/python_day10_OOPS_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#class, keywords- properties and method

In [2]:
class myclass:
  x=7

print(myclass)

<class '__main__.myclass'>

In [3]:
class myclass:
  x=7

p=myclass()
print(myclass)

<class '__main__.myclass'>

In [4]:
class myclass:
  x=7

p=myclass() # p is object of class
print(p.x) # to use object is with dot operator

7

In [5]:
class myclass:
  x=7
  o=10

p=myclass() # p is object of class
print(p.x) # to use object is with dot operator
print(p.o)

7
10

In [13]:
class student1:
        def __init__(self,name,age): #constructor
           self.name=name
           self.age=age

        def myfunc(self):
            print("my name is:", self.name,self.age)

p= student1("ravi",22)
p.myfunc()

my name is: ravi 22

In [14]:
class student1:
        def __init__(self,name,age): #constructor
           self.name=name
           self.age=age

        def myfunc(self):
            print("my name is:", self.name,self.age)

class child(student1):
  pass

p= child("ravi",22)
p.myfunc()

my name is: ravi 22

In [21]:
class student1:
        def __init__(self,name,age): #constructor
           self.name=name
           self.age=age

        def myfunc(self):
            print("my name is:", self.name,self.age)

class child(student1):
  def __init__(self,name,age):
     super().__init__(name,age)
     self.year=2019


p= child("ravi",22)
p.myfunc()
print(p.year)

my name is: ravi 22
2019