<a href="https://colab.research.google.com/github/Ravindrakumarnayak/python_practice_daywise/blob/main/python_day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
# email valid

email= (input("enter the email id"))
if not '@' in email:
  print("invalid email")

elif not'.com' in email:
  print("invalid email")


else:
 print("valid email")

enter the email idr@gmail.com
valid email

In [21]:
# searching

import re

x=' the raining in universe'

y=re.search('raining',x)

print(y)

<re.Match object; span=(5, 12), match='raining'>

In [22]:
#loop for and while

In [23]:
for i in range(10):
  print("happy")

happy
happy
happy
happy
happy
happy
happy
happy
happy
happy

In [25]:
for anonymous in range(10):
  print("happy")

happy
happy
happy
happy
happy
happy
happy
happy
happy
happy

In [36]:
for fruit in 'apple':
  print(fruit)

a
p
p
l
e

In [29]:
for anonymous in range(1,20):
  print("happy")

happy
happy
happy
happy
happy
happy
happy
happy
happy
happy
happy
happy
happy
happy
happy
happy
happy
happy
happy

In [30]:
for anonymous in range(1,20):
  print("anonymous")

anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous
anonymous

In [31]:
for i in range(1,20):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [32]:
for anonymous in range(1,20):
  print(anonymous)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [37]:
for i in range(1,20,3):
  print(i)

1
4
7
10
13
16
19

In [40]:
for i in range(1,20):
  print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [41]:
for i in range(1,20):
  print("*****")

*****
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****
*****

In [42]:
a= "wood"
for i in a:
  print(i)

w
o
o
d

In [44]:
a=input("enter the string \n")
for i in a:
  print(i)

enter the string
robin
r
o
b
i
n

In [49]:
# multiplication table of 3

print("table of 3 \n")

for i in range(3,31,3):
  print(i)

table of 3

3
6
9
12
15
18
21
24
27
30

In [74]:


x=input("enter the value of x")

for y in range(1,11):
  print(x*y)

enter the value of x4
4
44
444
4444
44444
444444
4444444
44444444
444444444
4444444444

In [72]:
for x in range(1,11):
  print(x*1)

1
2
3
4
5
6
7
8
9
10

In [89]:
# any table

for i  in range(1,11):
  for j in range(1,11):
    print(i*j,end="\t")
print()

1	2	3	4	5	6	7	8	9	10	2	4	6	8	10	12	14	16	18	20	3	6	9	12	15	18	21	24	27	30	4	8	12	16	20	24	28	32	36	40	5	10	15	20	25	30	35	40	45	50	6	12	18	24	30	36	42	48	54	60	7	14	21	28	35	42	49	56	63	70	8	16	24	32	40	48	56	64	72	80	9	18	27	36	45	54	63	72	81	90	10	20	30	40	50	60	70	80	90	100

In [97]:
for i  in range(1,11):
    for j in range(1,11):
        print(i*j ,end = "\t")# check identation
print()

1	2	3	4	5	6	7	8	9	10	2	4	6	8	10	12	14	16	18	20	3	6	9	12	15	18	21	24	27	30	4	8	12	16	20	24	28	32	36	40	5	10	15	20	25	30	35	40	45	50	6	12	18	24	30	36	42	48	54	60	7	14	21	28	35	42	49	56	63	70	8	16	24	32	40	48	56	64	72	80	9	18	27	36	45	54	63	72	81	90	10	20	30	40	50	60	70	80	90	100

In [101]:
# any table

for i  in range(1,11):
  for j in range(1,11):
    print(i*j,end="\t")
  print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100