<a href="https://colab.research.google.com/github/Ravindrakumarnayak/python_practice_daywise/blob/main/python_pandas_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import random
coin=["H","T"]
toss=random.choice(coin)
print(toss)

T

In [25]:
random.randint(1,100)

21

In [26]:
# pandas is python library clean messy data to clean, relvant data

In [27]:
import pandas as pd

my_dict={
    "fruits":("apple","banana","chikoo"),
    "cars":["bmw","volvo","masarati"]
}

myvar=pd.DataFrame(my_dict)
myvar

   fruits      cars
0   apple       bmw
1  banana     volvo
2  chikoo  masarati

In [28]:
import pandas as pd

my_dict={
    "fruits":("apple","banana","chikoo"),
    "cars":["bmw","volvo","masarati"]
}

myvar=pd.Series(my_dict)
myvar

fruits    (apple, banana, chikoo)
cars       [bmw, volvo, masarati]
dtype: object

In [29]:
import pandas as pd

my_dict=[2,3,4,5]



new_dict=pd.Series(my_dict)
new_dict

0    2
1    3
2    4
3    5
dtype: int64

In [30]:
import pandas as pd

my_dict=[2,3,4,5]



new_dict=pd.Series(my_dict,index=["x","y","z","a"])
new_dict

x    2
y    3
z    4
a    5
dtype: int64

In [32]:
df=pd.read_csv("/content/User_Data1.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [33]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [34]:
df.tail()

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [38]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [44]:
array=df.values


x=df.iloc[:,1:4]
y=df.iloc[:,4]

In [45]:
x

     Gender  Age  EstimatedSalary
0      Male   19            19000
1      Male   35            20000
2    Female   26            43000
3    Female   27            57000
4      Male   19            76000
..      ...  ...              ...
395  Female   46            41000
396    Male   51            23000
397  Female   50            20000
398    Male   36            33000
399  Female   49            36000

[400 rows x 3 columns]

In [46]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [47]:
df.mean()

<ipython-input-47-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

User ID            1.569154e+07
Age                3.765500e+01
EstimatedSalary    6.974250e+04
Purchased          3.575000e-01
dtype: float64

In [48]:
df.columns # to know about columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [50]:
df["Purchased"]

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [52]:
df["Purchased"].count() # to count

400

In [53]:
df.isna() # to check null values

     User ID  Gender    Age  EstimatedSalary  Purchased
0      False   False  False            False      False
1      False   False  False            False      False
2      False   False  False            False      False
3      False   False  False            False      False
4      False   False  False            False      False
..       ...     ...    ...              ...        ...
395    False   False  False            False      False
396    False   False  False            False      False
397    False   False  False            False      False
398    False   False  False            False      False
399    False   False  False            False      False

[400 rows x 5 columns]

In [54]:
df.isna().count()

User ID            400
Gender             400
Age                400
EstimatedSalary    400
Purchased          400
dtype: int64

In [59]:
df.value_counts("Age")

Age
35    32
37    20
26    16
42    16
41    16
39    15
40    15
47    14
48    14
27    13
38    13
46    12
28    12
36    12
30    11
31    11
49    10
29    10
24     9
32     9
33     9
45     7
59     7
60     7
19     7
20     7
52     6
34     6
25     6
23     6
58     6
57     5
53     5
18     5
22     5
50     4
54     4
21     4
43     3
55     3
56     3
51     3
44     2
dtype: int64

In [60]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [61]:
df[["Purchased", "Age"]] # two bracket is used

     Purchased  Age
0            0   19
1            0   35
2            0   26
3            0   27
4            0   19
..         ...  ...
395          1   46
396          1   51
397          1   50
398          0   36
399          1   49

[400 rows x 2 columns]