<a href="https://colab.research.google.com/github/Ravindrakumarnayak/python_practice_daywise/blob/main/python_day10_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def add(a,b):
  print(a+b)

c=int(input("enter the number"))
d=int(input("enter the 2nd number"))

add(c,d)

enter the number23
enter the 2nd number23
46

In [7]:
def add(a,b):
  print(a+b)

a=int(input("enter the number"))
b=int(input("enter the 2nd number"))

add(a,b)

enter the number12
enter the 2nd number23
35

In [8]:
def name(fname):
  print("enter the name",fname)

name('ravi')
name("ironman")
name("stoic")

enter the name ravi
enter the name ironman
enter the name stoic

In [10]:
def add(a,b):
  print(a+b)

a=int(input("enter the number"))
b=int(input("enter the 2nd number"))

add(a,b)

enter the number23
enter the 2nd number34
57

In [11]:
def add(a,b):
  print(a*b)

a=int(input("enter the number"))
b=int(input("enter the 2nd number"))

add(a,b)

enter the number23
enter the 2nd number2
46

In [12]:
def hello():
  print("hello world!")

hello()

hello world!

In [13]:
hello()

hello world!

In [19]:
def hello():

  print("hello world!")

hello()

hello world!

In [20]:
def name(fname):
  print("hello",fname)

name('ravi')
name("ironman")
name("stoic")

hello ravi
hello ironman
hello stoic

In [30]:
def marks():
  for i in range(3):
      m=(int(input('enter the marks:')))
      print(m)

marks()

enter the marks:34
34
enter the marks:22
22
enter the marks:2
2

In [29]:

def fruits(fruits):
  for i in fruits:
    print(i)

food=["apple","banana"]
fruits(food)

apple
banana

In [31]:
def student(age,grade):
  print("my age is:",age,"my grade is:",grade)

age=input("enter age")
grade=input("enter grade")

student(age,grade)

enter age23
enter grade12
my age is: 23 my grade is: 12

In [34]:
def add(c,d):
  c=a+b
  return c

c=int(input("enter the number"))
d=int(input("enter the number"))

add1=c+d

print(add1)

enter the number23
enter the number23
46

In [38]:
# lambda function is used to reduce number of code of the line


add =lambda a,b:a+b
print(add(7,12))

19

In [39]:
multiply= lambda a,b:a*b

print(multiply(2,3))

6